<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="20">

        <mat-toolbar color="primary">
            <span>App Sign in</span>
          </mat-toolbar>        
          
        <form fxLayoutAlign="streth" fxLayout="column" class="login-form">
            <mat-form-field>
              <input matInput placeholder="Username" >
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" >
            </mat-form-field>

              <button mat-raised-button color="primary">Login</button>

          </form>


    </mat-card>
</div>
